#pda-base-chat-unred{
    .red-icon {
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/redicon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 26px;
      }
      .chat-icon {
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/chat-icon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 73px;
      }
      .unred-icon {
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
      }
    
    
    }