#epilogue-page{
    background: url('../../../assets/backgrounds/BG.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .device{
        background: url('../../../assets/epilogue/Option-2B-black-icon-device.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 385px;
        height: 671px;
        margin: auto;
        animation: zoomIn 3s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes zoomIn {
        0% { transform: scale(1.0);}
        50% { transform: scale(2.0);}
        100% { transform: scale(1.07);}
    }
}