#time-component{
    .screen-head {
        height: 38px;
  
        .bar {
          //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/barv1.png");
          background-image: url("https://images.stinkyfruit.com/Signal_Icon.svg");
          height: 24px;
          width: 35px;
          background-repeat: no-repeat;
          margin: 8px;
        }
        .battery {
          //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/bat.png");
          background-image: url("https://images.stinkyfruit.com/Battery_Icon.svg");
          background-repeat: no-repeat;
          height: 21px;
          width: 107px;
          margin-top: 6px;
          background-position: bottom left;
        }
        .time {
          background-image: url("https://images.stinkyfruit.com/Backdrop_for_date_and_time.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          height: 28px;
          width: 200px;
          margin-top: 8px;
          margin-right: 2px;
          margin-bottom: auto;
          margin-left: 4.5px;
          .clock {
            font-family: "Palm Os";
            font-size: 24px;
            color: #47b9b2;
          }
        }
      }
      .line {
        background-color: #060606;
        height: 3px;
        width: 236px;
        margin-bottom: 2px;
        margin-left: 7px;
        margin-top: -4px;
      }

      @media (max-width: 575.98px) {

        .screen-head {
            height: 38px;
    
            .time {
              background-image: url("https://images.stinkyfruit.com/Backdrop_for_date_and_time.svg");
              background-repeat: no-repeat;
              background-size: 100%;
              height: 31px;
              width: 61vw;
              margin-top: 6px;
              margin-right: 9px;
              margin-bottom: auto;
              margin-left: 25vw;
            }
          }
    
          .line {
            background-color: #060606;
            height: 3px;
            width: 71vw;
            margin-bottom: 2px;
            margin-left: 1vw;
            margin-top: -4px; 
          }
      }
}