#pda-mail-base{
.red-icon{
    background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/redicon.png");
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/Read.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
  }
  .unred-icon{
    background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/Unread.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
  }
  .mail-icon{
    background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/mailicon.png");
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/Mail-Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 51px;
   
  }

}