#pda-intro-screen {
  // margin-block: 50%;
  .introvideo-desktop-tablet{
    //width: 100%;
    //height: auto;
    //aspect-ratio: 16/9;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    .video-size{
      width: 100vw;
      height: 100vh;
    }
  }
  .introvideo-mobile{
    //width: 100%;
    //height: auto;
    //aspect-ratio: 16/9;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    display:none !important;
    .video-size{
      width: 100vw;
      height: 100vh;
    }
  }
  //
  //@media (max-width: 991.98px) {
  //  .introvideo {
  //    //width: 100%;
  //    //height: auto;
  //    //aspect-ratio: 16/9;
  //    //position: static;
  //    width: 100%;
  //    height: auto;
  //  }
  //}
}
@media (max-width: 575.98px){
  #pda-intro-screen{
    .introvideo-desktop-tablet{
      display:none !important;
    }
    .introvideo-mobile{
      display:block !important;
    }
  }
}
@media (min-width: 768px){
  #pda-intro-screen{
    .introvideo-desktop-tablet{
    }
  }
}
