#pda-intro-screen {
  // margin-block: 50%;
  .introvideo {
    //width: 100%;
    //height: auto;
    //aspect-ratio: 16/9;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    .video-size{
      width: 100vw;
      height: 100vh;
    }
  }
  //
  //@media (max-width: 991.98px) {
  //  .introvideo {
  //    //width: 100%;
  //    //height: auto;
  //    //aspect-ratio: 16/9;
  //    //position: static;
  //    width: 100%;
  //    height: auto;
  //  }
  //}
}
