#pda-intro-screen {
  // margin-block: 50%;
  .introvideo {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
   
  }

  @media (max-width: 575.98px) {
    .introvideo {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}
