$image-name: "https://images.stinkyfruit.com/";
#pda-buttons {
  .row-1 {
    height: 115px;
  }
  .buttns {
    height: 77px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 115px;
    //background-image: url("#{$image-name}BOTTOM_BAR.png");
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-bord1111er-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
  }

  @media (max-width: 575.98px) {
    .row-1 {
      height: 15vh;
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      background-color: #818181;

      .buttns {
        background-image: url("#{$image-name}BOTTOM-M.png");
        background-color: none;
        height: 100%;
        //height: 15vh;
        background-size: cover !important;
        background-position: center !important;
        width: 100vw !important;

        .button-list {
          padding-top: 10px;
          padding-bottom: 5px;
          width: 100vw;
        }
      }
    }
  }
}
