#pda-buttons {
  .row-1 {
    height: 74px;
  }
  .buttns {
    height: 77px;
    background-size: cover;
    background-position: center;
    padding-left: 25px;
    width: 329px;
    background-image: url("https://images.stinkyfruit.com/BOTTOM_BAR.png");
    border-radius: 6px;
    padding-top: 3%;
    -webkit-border-radius: 6px;
    -moz-bord1111er-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}
    
  @media (max-width: 575.98px) {
    .row-1 {
      
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      .buttns {
        background-image: url("https://images.stinkyfruit.com/BOTTOM-M.png");
        background-color: none;
        height: 85px;
        background-size: cover !important;
        background-position: center !important;
        width: 100vw !important;
        padding-left: 11px !important;
        padding-right: 7px !important;

        .button-list {
          width: 100vw;
        }
      }
    } 
  }
}
