#phone-button {
  .button-3 {
    background-image: url("../../../../../../assets/buttons/Mask Group 8v3.png");
    height: 60px;
    width: 59px;
    background-repeat: no-repeat;
    margin: auto;
    margin-inline: 3px;
    margin-top: -8px;
  }
}
