#pda-mail-info{
    .red-icon{
        //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/redicon.png");
      background-image: url("https://images.stinkyfruit.com/Read.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
      }
      .unred-icon{
        //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
        background-image: url("https://images.stinkyfruit.com/Un_read.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        background-size: 100%;
      }
      .mail-icon{
        //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/mailicon.png");
        background-image: url("https://images.stinkyfruit.com/Mail_Icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 51px;
       
      }
    .back{
        background-color: #47b9b2;
        margin-left: 22px;
        
    }
    .replay{
        background-color: #47b9b2;
        margin-top: 16px;
       
    }
    .delete{
        background-color: #47b9b2;
        margin-top: 16px;
    }
    }
    