#pda-mail-reply {
  .reply-mail {
    line-height: 20px;
    font-size: 29px;
  }
  .base-mail-container {
    margin-left: 10px;
    margin-right: 30px;

    .icon-container {
      width: 40%;
      .red-icon {
        background-image: url("https://images.stinkyfruit.com/Read.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 26px;
        margin: 10px;
        height: 13px;
      }

      .mail-icon {
        background-image: url("https://images.stinkyfruit.com/Mail_Icon.svg");
        background-repeat: no-repeat;
        background-position: center left;
        width: 56px;
        margin: 10px;
        height: 36px;
      }
    }
    .info-container {
      width: 60%;
      .person-name {
        font-family: "Palm OS";
        font-size: 24px;
        line-height: 22px;
      }
      .subject {
        font-family: "Palm OS";
        font-size: 22px;
        line-height: 14px;
      }
      .mail-date {
        font-family: "Palm OS";
        font-size: 23px;
        line-height: 21px;
      }
    }
    .unred-icon {
      background-image: url("https://images.stinkyfruit.com/Un_read.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      background-size: 100%;
    }
  }
  .back_button {
    background-image: url("https://images.stinkyfruit.com/back_button.svg");
    width: 87px;
    height: 37px;
    margin-top: 16px;
  }
  .reply_button {
    background-image: url("https://images.stinkyfruit.com/reply_button.svg");
    width: 87px;
    height: 37px;
    margin-top: 16px;
  }
  .delete_button {
    background-image: url("https://images.stinkyfruit.com/delete_button.svg");
    width: 87px;
    height: 37px;
    margin-top: 16px;
  }
}
.txt-area-bg {
  background-color: #288577;
  border-radius: 10px;
  border: 1px solid #288577;
  font-family: "Palm OS";
}
