#pda-header {
  .row-3 {
    height: 79px;
  }

  @media (max-width: 575.98px) {
    .row-3 {
      background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/TheHeader.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
    }
  }
}
