#mail-button {
  .button-2 {
    background-image: url("//images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/mail-b.png");
    height: 46px;
    width: 46px;
    background-repeat: no-repeat;
    margin: auto;
    margin-inline: 3px;
    background-position: center;
  }
  .red {
    border-radius: 50%;
    border: 4px solid rgba(134,42,42,0.72);
  }
  .black{
    border-radius: 29px;
    border: 4px solid rgba(16, 16, 16, 0.75);
}
}
