#pda-base-chat-reply{
  .txt-area-bg{
    background-color: #288577;
    border-radius: 10px;
    border: 1px solid #288577;
    font-family: "Palm OS";
  }
  .btn-back{
    font-family: "Palm OS";
    font-size: 24px;
    line-height: 22px;
    border-radius: 5px;
  }
  .btn-reply{
    font-family: "Palm OS";
    font-size: 24px;
    line-height: 22px;
    border-radius: 5px;
  }
  .btn-delete{
    font-family: "Palm OS";
    font-size: 24px;
    line-height: 22px;
    border-radius: 5px;
  }
}