#pda-base-chat-reply{
  .base-chat-reply-container{
    padding-left: 10px;
    padding-right: 10px;
    height: 491px;
    width: 100%;
    margin-bottom: 20px;
    overflow-y:auto;
    position: relative;
    &::-webkit-scrollbar{
      width: 10px;
      height: auto;
      background-image: url("https://images.stinkyfruit.com/scroll-bar-bg.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &::-webkit-scrollbar-track{
      -webkit-box-shadow: #47b9b2;
    }
    &::-webkit-scrollbar-thumb{
      background-image: url("https://images.stinkyfruit.com/scroll-bar-thumbnail.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .txt-area-container{
      width: 100%;
      height: 150px;
      .txt-area{
        width: 100%;
        height: 100%;
        .txt-area-bg{
          background-color: #288577;
          border-radius: 10px;
          border: 1px solid #288577;
          font-family: "Palm OS";
          width: 100%;
          height: 150px;
          font-size: 20px;
        }
      }
    }
    .btn-back{
      background-image: url("https://images.stinkyfruit.com/box_img_bckground.svg");
      background-repeat: no-repeat;
      font-family: "Palm OS";
      font-size: 24px;
      line-height: 22px;
      border-radius: 5px;
      width: 86.6px;
      height: 36.67px;
    }
    .btn-reply{
      background-image: url("https://images.stinkyfruit.com/box_img_bckground.svg");
      background-repeat: no-repeat;
      font-family: "Palm OS";
      font-size: 24px;
      line-height: 22px;
      border-radius: 5px;
      width: 86.6px;
      height: 36.67px;
    }
    .btn-delete{
      background-image: url("https://images.stinkyfruit.com/box_img_bckground_gray.svg");
      background-repeat: no-repeat;
      font-family: "Palm OS";
      color: #326462;
      font-size: 24px;
      line-height: 22px;
      border-radius: 5px;
      width: 86.6px;
      height: 36.67px;
    }
  }
}
@media (max-width: 575.98px){
  #pda-base-chat-reply{
    .base-chat-reply-container{
      height: 50vh;
      .txt-area-bg{
        font-size: 25px;
      }
    }
  }
}
@media (max-width: 320px){
  #pda-base-chat-reply{
    .base-chat-reply-container{
      height: 45vh;
      .txt-area-bg{
        font-size: 25px;
      }
    }
  }
}