#pda-base-chat-info{
   
  .chat-icon {
        //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/chat-icon.png");
        background-image: url("//images.stinkyfruit.com/Text_Icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 116px;
 
      }
      .chat-info{
        margin-left: 20px;
      }
    }