@import "/node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Palm OS";
  src: url("../assets/fonts/palm-os.ttf");
}
.app {
  font-family: "Palm OS";
  background: url("../assets/backgrounds/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0rem 8rem 6rem #060606d4;
}
@media (max-width: 575.98px) {
  .app {
    background-image: none;
  }
}
