.app {
  font-family: "Palm Os";
  background: url("../assets/backgrounds/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0rem 8rem 6rem #060606d4;
  // box-shadow: inset 0 0 135px 175px rgb(6 6 6 / 95%);
}
@media (max-width: 575.98px) {
  .app {
    background-image: none;
  }
}
