
.app {
  font-family: "Palm Os";
  background: url("../assets/backgrounds/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 575.98px) {
  .app {
    background-image: none;
  }
}
