#radio-button {
  .button-1 {
    background-image: url("../../../../../../assets/buttons/Mask Group 7v3.png");
    background-repeat: no-repeat;
    height: 46px;
    width: 46px;
    margin: auto;
    margin-inline: 3px;
  }
}
