$image-name: "https://images.stinkyfruit.com/";
#mail-screen-one {
  position: relative;
  .screen-dash {
    height: 38px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
    .email {
      //background-image: url("#{$image-name}Heading_Backdrop_v1.svg");
      background-image: url("#{$image-name}Text_Backdrop.svg");
      background-size: cover;
      height: 31px;
      width: 26%;
      //margin-left: 3px;
      //margin-top: 10px;
      background-repeat: no-repeat;
      background-position: center;
      .text-email {
        color: #47b9b2;
        text-align: center;
        font-size: 21px;
        text-transform: uppercase;
        font-family: "Palm OS";
      }
      .overlay-text-email {
        color: rgb(48, 132, 132);
        text-align: center;
        font-size: 21px;
        text-transform: uppercase;
        font-family: "Palm OS";
      }
    }
    .logo {
      //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/slogov2.png");
      background-image: url("#{$image-name}Red_west_logo.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 137px;
      background-size: 100%;
      background-position: center;
    }
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  #mail-screen-one {
    .screen-dash {
      .email {
        width: 30%;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 575.98px) and (orientation: portrait) {
  #mail-screen-one {
    .screen-dash {
      height: 45px;
      align-items: center;
      .email {
        height: 38px;
        margin-top: 1px;
        background-repeat: no-repeat;
        background-position: center;
        .text-email {
          font-size: 24px;
          text-align: center;
        }
        .overlay-text-email {
          color: rgb(48, 132, 132);
          font-size: 24px;
        }
      }
      .logo {
        width: 35vw;
        margin-top: 6px;
        margin-bottom: 6px;
        background-position: center;
      }
    }
  }
}
