#mail-screen-one {
  .screen-dash {
    height: 38px;
    .email {
      background-image: url("https://images.stinkyfruit.com/Heading_Backdrop_v1.svg");
      background-size: 100%;
      height: 21px;
      width: 100px;
      margin-top: 10px;
      margin-left: 3px;
      background-repeat: no-repeat;
      .text-email {
        color: #47b9b2;
      }
    }
    .logo {
      //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/slogov2.png");
      background-image: url("https://images.stinkyfruit.com/Red_west_logo.svg");
      background-repeat: no-repeat;
      height: 28px;
      width: 105px;
      margin-top: 16px;
      background-size: 100%;
    }
  }
}
