#map-pageone-screen {
  .image {
    .image-map {
      background-image: url("https://images.stinkyfruit.com/map1.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 417px;
      width: 100vw;
      background-size: contain;
      margin-top: -80px;
      z-index: 3;
    }
  }
  .zoomin {
    background-image: url("https://images.stinkyfruit.com/ZoomOut.svg");
    background-repeat: no-repeat;
    height: 65px;
    width: 38px;
    margin-left: 8px;
  }

  @media (max-width: 575.98px) {
    .image {
      .image-map {
        width: 100vw;
        background-size: cover;
        height: 77vh;
      }
    }
  }
}
