#map-pageone-screen { 
  .image {
  
    .image-map {
      background-image: url("https://images.stinkyfruit.com/map1.svg");
      // background-position: center;
      // background-repeat: no-repeat;
      // height: 553px;
      // width: 100vw;
      // background-size: contain;
      // margin-top: -30px;
      // background-blend-mode: darken;
      // background-size: 394px;


      background-position: center;
      background-repeat: no-repeat;
      //height: 632.5px;
      width: 100%;
      //margin-top: -119px;
      height: 623.5px;
      margin-top: -112px;
      background-blend-mode: darken;
      background-size: 383px;
      background-size: cover;
    }
  }
}
.zoomin {
  background-image: url("https://images.stinkyfruit.com/ZoomOut.svg");
  background-repeat: no-repeat;
  height: 65px;
  width: 38px;
  margin-top: -90px;
  margin-left: 30px;
}
.zoomout {
  background-image: url("https://images.stinkyfruit.com/inactive_minus_icon.svg");
  background-repeat: no-repeat;
  height: 34px;
  width: 38px;
  margin-top: -36px;
  margin-left: 26px;
}


@media (max-width: 575.98px) {
  .image {
    .image-map {
      width: 100% !important;
      background-size: cover !important;
      height: 63vh !important;
      margin-top: -72px !important;
    }
  }
}
