#chat-button{
    .button-4 {
      background-image: url("https://images.stinkyfruit.com/Chat_Normal_state.png");
      height: 60px;
      width: 60px;
      background-repeat: no-repeat;
      margin: auto;
      margin-inline: 3px;
      background-position: center;
      background-size: cover;
      margin-top: -11px;
      }

      .red {
        background-image: url("https://images.stinkyfruit.com/Small_Button_glow.png") , url("https://images.stinkyfruit.com/Chat_Normal_state.png") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 93.5%, cover;
        //border-radius: 50%;
        //box-shadow: 0px 1px 8px 3px rgb(123,42,42) inset;
      }
      .black{
        border-radius: 50%;
        //border: 4px solid rgba(16, 16, 16, 0.75);
    }
}
@media (max-width: 320px) and (orientation: portrait) {
  #chat-button{
    .button-4{
      height: 50px;
      width: 50px;
    }
  }
}