#chat-button{
    .button-4 {
      background-image: url("../../../../../../assets/buttons/Mask Group 10v3.png");
      height: 46px;
      width: 46px;
      background-repeat: no-repeat;
      margin: auto;
      margin-inline: 3px;
      }
       
}