#pda-buttons {
  .row-1 {
    height: 74px;
  }
  .buttns {
    height: 77px;
    background-size: cover;
    background-position: center;
    padding-left: 25px;
    width: 329px;
    background-image: url("../../../assets/img/BOTTOM BAR.png");
    border-radius: 6px;
    
    .button-1 {
      background-image: url("../../../assets/buttons/Mask Group 7v3.png");
      background-repeat: no-repeat;
      height: 46px;
      width: 46px;
      margin: auto;
      margin-inline: 3px;
    }
    .button-2 {
      background-image: url("../../../assets/buttons/Mask Group 9v3.png");
      height: 46px;
      width: 46px;
      background-repeat: no-repeat;
      margin: auto;
      margin-inline: 3px;
    }
    .button-3 {
      background-image: url("../../../assets/buttons/Mask Group 8v3.png");
      height: 60px;
      width: 59px;
      background-repeat: no-repeat;
      margin: auto;
      margin-inline: 3px;
    }
    .button-4 {
      background-image: url("../../../assets/buttons/Mask Group 10v3.png");
      height: 46px;
      width: 46px;
      background-repeat: no-repeat;
      margin: auto;
      margin-inline: 3px;
    }
    .button-5 {
      background-image: url("../../../assets/buttons/Mask Group 11v3.png");
      background-repeat: no-repeat;
      height: 46px;
      width: 46px;
      margin: auto;
      margin-inline: 3px;
    }
  }

  @media (max-width: 575.98px) {
    .row-1 {
      background-image: url("../../../assets/img/gray-mobile-ui-bottom.png");
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      .buttns {
        background-image: url("../../../assets/img/BOTTOM BAR M.png");
        background-color: none;
        height: 74px;
        background-size: cover !important;
        background-position: center !important;
        width: 100vw !important;
        padding-left: 11px !important;
        padding-right: 7px !important;

        .button-list {
          width: 100vw;
        }

        .button-1 {
          background-image: url("../../../assets/buttons/Mask Group 7v3.png") !important;
          background-repeat: no-repeat;
          height: 46px;
          width: 46px;
          margin: auto;
        }
        .button-2 {
          background-image: url("../../../assets/buttons/Mask Group 9v3.png") !important;
          height: 46px;
          width: 46px;
          background-repeat: no-repeat;
          margin: auto;
        }
        .button-3 {
          background-image: url("../../../assets/buttons/Mask Group 8v3.png") !important;
          height: 60px;
          width: 59px;
          background-repeat: no-repeat;
          margin: auto;
        }
        .button-4 {
          background-image: url("../../../assets/buttons/Mask Group 10v3.png") !important;
          height: 46px;
          width: 46px;
          background-repeat: no-repeat;
          margin: auto;
        }
        .button-5 {
          background-image: url("../../../assets/buttons/Mask Group 11v3.png") !important;
          background-repeat: no-repeat;
          height: 46px;
          width: 46px;
          margin: auto;
        }
      }
    }
  }
  // .buttonclick {
  //   border: 2px solid #a72222;
  //   border-radius: 5px;
  //   -webkit-border-radius: 5px;
  //   -moz-border-radius: 5px;
  //   -ms-border-radius: 5px;
  //   -o-border-radius: 5px;
  // }
  // .buttonclickagain {
  //   border: none;
  //   border-radius: none;
  // }
}
