#pda-buttons {
  .row-1 {
    height: 74px;
  }
  .buttns {
    height: 77px;
    background-size: cover;
    background-position: center;
    padding-left: 25px;
    width: 329px;
    background-image: url("../../../assets/img/BOTTOM BAR.png");
    border-radius: 6px;
    padding-top: 3%;
  }

  @media (max-width: 575.98px) {
    .row-1 {
      background-image: url("../../../assets/img/gray-mobile-ui-bottom.png");
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      .buttns {
        background-image: url("../../../assets/img/BOTTOM BAR M.png");
        background-color: none;
        height: 74px;
        background-size: cover !important;
        background-position: center !important;
        width: 100vw !important;
        padding-left: 11px !important;
        padding-right: 7px !important;

        .button-list {
          width: 100vw;
        }
      }
    }
  }
}
