$image-name: "https://images.stinkyfruit.com/";
#pda-mail-base-unred {
  .base-mail-unread-container {
    height: 70px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    .icon-container {
      width: 30%;
      .red-icon {
        background-image: url("#{$image-name}Read.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 26px;
        margin: 10px;
        height: 13px;
      }

      .mail-icon {
        background-image: url("#{$image-name}Mail_Icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 51px;
        margin-right: 10px;
        height: 29px;
      }
      .unred-icon {
        //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
        background-image: url("#{$image-name}Un_read.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        background-size: 100%;
        margin: 10px;
        height: 14px;
      }
    }
    .info-container {
      width: 70%;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      .person-name {
        font-family: "Palm OS";
        font-size: 24px;
        line-height: 22px;
      }
      .subject {
        font-family: "Palm OS";
        font-size: 22px;
        line-height: 14px;
      }
      .mail-date {
        font-family: "Palm OS";
        font-size: 20px;
        line-height: 21px;
      }
    }
    .unred-icon {
      background-image: url("#{$image-name}Un_read.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      background-size: 100%;
    }
  }
}
@media (max-width: 320px) {
  #pda-mail-base-unred {
    .base-mail-unread-container {
      .icon-container {
        width: 35%;
      }
      .info-container {
        width: 65%;
      }
    }
  }
}
