#pda-mail-base-unred{
    .red-icon{
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/redicon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
      }
      .unred-icon{
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
      }
      .mail-icon{
        background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/mailicon.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 51px;
       
      }
    
    }