#home {
  .logo-container{
    height: 527.5px;
    width: 100%;
  }
     .the-image-logo {
    height: 29.34px;
    width: 307.3px;
    background-position: center;
    background-image: url("https://images.stinkyfruit.com/Red_west_logo.svg");
    background-size: 85%;
    background-repeat: no-repeat;
  }

 
}
