#pda-home-screen {
  .row-2 {
    padding: 0px;
    height: 643px;
    width: 504px;
  }
  .inner-row-left {
    width: 15%;
    
}
  .inner-row-center {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/pda-crack-screen.png");
    background-image: url("https://images.stinkyfruit.com/PDA_Crack_Screen.svg");
    background-color: #47b9b2;
    background-blend-mode: multiply;
    width: 93%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #3c3838;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 99.5%;
    // marquee {
    //   font-size: 60px;
    // }
    // .screen-head {
    //   height: 40px;

    //   .bar {
    //     background-image: url("../../../assets/img/barv1.png");
    //     height: 24px;
    //     width: 44px;
    //     background-repeat: no-repeat;
    //     margin: 8px;
    //   }
    //   .battery {
    //     background-image: url("../../../assets/img/bat.png");
    //     background-repeat: no-repeat;
    //     height: 21px;
    //     width: 107px;
    //     margin-top: 10px;
    //   }
    //   .time {
    //     background-color: black;
    //     height: 28px;
    //     width: 178px;
    //     margin-top: 7px;
    //     margin-right: 2px;
    //     margin-bottom: auto;
    //     margin-left: 4.5px;
    //     .clock {
    //       font-family: "Palm Os";
    //       font-size: 24px;
    //       color: #47b9b2;
    //      }
    //   }
    // }
    // .line {
    //   background-color: #060606;
    //   height: 3px;
    //   width: 236px;
    //   margin-bottom: 2px;
    //   margin-left: 7px;
    //   margin-top: -4px;
    // }
    
    .the-image-logo {
      height: 91%; ///new1
      background-position: center;
      //margin-top: 140px;
      //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/homelogo.png");
      background-image: url("https://images.stinkyfruit.com/Red_west_logo.svg");
      background-size: 85%;
      background-repeat: no-repeat;
    }
  }

  .inner-row-right {
    width: 15%;
  }

  @media (max-width: 575.98px) {
    .row-2 {
      background-repeat: repeat-y;
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      padding: 0px;
      height: 70vh !important;
    }

    .inner-row-left {
      background-color: #737272;
      width: 1% !important;
    }

    .inner-row-center {
      width: 100vw;
      border: 3px solid #1c1c1c;
      margin: -2%;
      margin-bottom: 0%;
      background-size: cover;
      background-repeat: no-repeat;
      height: initial;

      // height: 85vh;
      // .screen-head {
      //   height: 40px;

      //   .time {
      //     background-color: #060606;
      //     height: 31px;
      //     width: 61vw;
      //     margin-top: 7px;
      //     margin-right: 9px;
      //     margin-bottom: auto;
      //     margin-left: 25vw;
      //   }
      // }

      // .line {
      //   background-color: #060606;
      //   height: 3px;
      //   width: 71vw;
      //   margin-bottom: 2px;
      //   margin-left: 1vw;
      //   margin-top: -4px;
      // }
    }

    .inner-row-right {
      background-color: none !important;
      width: 1% !important;
    }
  }
}
