#pda-voicemail-screen {
  .row-2 {
    padding: 0px;
    height: 643px;
    width: 504px;
  }

  .inner-row-left {
    width: 15%;
  }
  .inner-row-center {
    border-radius: 10px;
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/pda-crack-screen.png");
    background-image: url("https://images.stinkyfruit.com/PDA_Crack_Screen.svg");
    background-color: #47b9b2;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 94%;
    height: 99.5%;
    border: 2px solid #3c3838;
    background-position: center;
    overflow: hidden;
    .voicemail-box-container{
      padding-left: 10px;
      padding-right: 10px;
      height: 420px;
      width: 100%;
      margin-bottom: 20px;
      overflow-y:auto;
      position: relative;
      &::-webkit-scrollbar{
        //width: 10px;
        height: auto;
        background-image: url("https://images.stinkyfruit.com/scroll-bar-bg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
      }
      &::-webkit-scrollbar-track{
        -webkit-box-shadow: #47b9b2;
        //background-color: transparent;

      }
      &::-webkit-scrollbar-thumb{
        //background-image: url("https://images.stinkyfruit.com/scroll-bar-thumbnail.png");
        //background-repeat: no-repeat;
        //background-size: cover;
        background-color: black;
        border: 6px solid transparent;
        background-clip: content-box;
        //&:hover{
        //  background-color: black;
        //}
      }
    }
  }
  .inner-row-right {
    width: 15%;
  }
  .new-voice-mail-container{
    height: 70px;
    border: 3px solid black;
  }
  .voice-mail-container {
    height: 70px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
  }
  .icon-container {
    width: 30%;
  }
  .info-container {
    width: 70%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    .email-name {
      font-family: "Palm OS";
      font-size: 24px;
      line-height: 22px;
    }
    .voice-date {
      font-size: 20px;
      font-family: "Palm OS";
      line-height: 21px;
    }
  }
  .voice-pop-up {
    background-image: url("https://images.stinkyfruit.com/VoiceMail_Popup.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 94%;
    height: 100%;
    background-size: 236px;
    position: relative;
  }
  .light {
    background: rgb(35 40 35 / 60%);
    position: absolute;
    width: 381px;
    height: 643px;
    margin-top: -571px;
  }

  .red-icon {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/redicon.png");
    background-image: url("https://images.stinkyfruit.com/Read.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    margin: 10px;
    height: 13px;
  }
  .unred-icon {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/unredicon.png");
    background-image: url("https://images.stinkyfruit.com/Un_read.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    background-size: 100%;
    margin: 10px;
    height: 14px;
  }
  .voice-icon {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/voice.png");
    background-image: url("https://images.stinkyfruit.com/Voicemail_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 51px;
    height: 29px;
    margin-right: 10px;
  }

  .play-icon {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/pay.png");
    background-image: url("https://images.stinkyfruit.com/Voicemail_Play.svg");
    background-repeat: no-repeat;
    background-position: left;
    height: 21px;
    width: 10%;
    cursor: pointer;
  }
  .sound-icon {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/sound.png");
    background-image: url("https://images.stinkyfruit.com/Sample_Audiowave.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 90%;
    height: 17px;
    &.sound-one{
      background-image: url("https://images.stinkyfruit.com/timothee_voicemail.svg");
    }
    &.sound-two{
      background-image: url("https://images.stinkyfruit.com/krista_voicemail.svg");
    }
    &.sound-three{
      background-image: url("https://images.stinkyfruit.com/mom_voicemail_one.svg");
    }
    &.sound-four{
      background-image: url("https://images.stinkyfruit.com/mateo_voicemail.svg");
    }
    &.sound-five{
      background-image: url("https://images.stinkyfruit.com/mom_voicemail_two.svg");
    }
    &.sound-six{
      background-image: url("https://images.stinkyfruit.com/krista_voicemail_two.svg");
    }
  }

  @media (max-width: 575.98px) {
    .row-2 {
      background-repeat: repeat-y;
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      padding: 0px;
      height: 70vh !important;
    }
    .light {
      background: rgb(5, 5, 5);
      z-index: 1;
      position: absolute;
      width: 100vw;
      height: 71vh;
      opacity: 0.5;
      margin-top: -516px;
    }

    .inner-row-left {
      background-color: #737272;
      width: 1% !important;
    }
    .inner-row-center {
      width: 100vw;
      border: 3px solid #1c1c1c;
      margin: -2%;
      margin-bottom: 0%;
      background-size: cover;
      background-repeat: no-repeat;
      height: initial;
      .voicemail-box-container{
        height: 47vh;
      }
      .the-image-radio {
        height: 427px; ///new1
        background-image: none;
      }
    }
    .inner-row-right {
      background-color: none !important;
      width: 1% !important;
    }
  }
  @media (max-width: 320px){
    .inner-row-center{
      .voicemail-box-container{
        height: 43vh;
      }
    }
  }
}
