#pda-phone-screen {
  .logo{
    display: none;
  }
  .row-2 {
    padding: 0px;
    height: 643px;
    width: 504px;
  }

  .inner-row-left {
    width: 15%;
  }
  .inner-row-center {
    //background-image: url("https://images.stinkyfruit.y2k.sgp1.cdn.digitaloceanspaces.com/pda-crack-screen.png");
    background-image: url("https://images.stinkyfruit.com/PDA_Crack_Screen.svg");
    border-radius: 10px;
    background-color: #47b9b2;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 94%;
    height: 99.5%;
    border: 2px solid #3c3838;
    background-position: center;
  }

  .inner-row-right {
    width: 15%;
  }

  @media (max-width: 575.98px) {
    .row-2 {
      background-repeat: repeat-y;
      background-size: cover;
      background-position: center;
      margin: auto;
      width: 100vw;
      padding: 0px;
      height: 70vh !important;
    }

    .inner-row-left {
      background-color: #737272;
      width: 1% !important;
    }

    .inner-row-center {
      width: 100vw;
      border: 3px solid #1c1c1c;
      margin: -2%;
      margin-bottom: 0%;
      background-size: cover;
      background-repeat: no-repeat;
      height: initial;

      .the-image-radio {
        height: 427px; ///new1
        background-image: none;
      }
    }

    .inner-row-right {
      background-color: none !important;
      width: 1% !important;
    }
  }
  .phone-container{
    //height: 35vh;
    height: 477px;
    width: 100%;
    //margin-top: 153px;
  }
  .redwest-logo-container{
  }
  .redwest-logo{
    //background-position: center;
    //background-image: url("https://images.stinkyfruit.com/Red_west_logo.svg");
    //background-size: cover;
    //background-repeat: no-repeat;
    height: 29px;
    width: 307px;
  }
  .redwest-keypad-container{
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .keypad-row-one{
    margin-bottom: 10px;
  }
  .keypad-row-two{
    margin-bottom: 10px;
  }
  .keypad-row-three{
    margin-bottom: 10px;
  }
  .numbers{
    color: #47b9b2;
    font-family: "Palm OS";
    font-size: 44px;
  }
  .letters{
    color: #47b9b2;
    font-family: "Palm OS";
    font-size: 27px;
    line-height: 23px;
  }
  .redwest-btn-one{
    background-image: url("https://images.stinkyfruit.com/keypad_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 112px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    opacity: 0.3;
  }
  .redwest-btn-two{
    background-image: url("https://images.stinkyfruit.com/keypad_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 112px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.3;
  }
  .redwest-btn-three{
    background-image: url("https://images.stinkyfruit.com/keypad_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 112px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    opacity: 0.3;
  }
  .btn-call-container{
    margin-top: 26px;
    width: 100%;
    padding-left: 10px;
    padding-right: 15px;
    .btn-call{
      background-image: url("https://images.stinkyfruit.com/box_img_bckground_gray.svg");
      background-repeat: no-repeat;
      font-family: "Palm OS";
      color: #326462;
      font-size: 24px;
      line-height: 22px;
      border-radius: 5px;
      width: 86.6px;
      height: 36.67px;
    }
  }
}
@media (max-width: 575.98px){
  #pda-phone-screen{
    .phone-container{
      margin-top: 19px;
      height: 48vh;
      .keypad-row-one{
        margin-bottom: 5px;
      }
      .keypad-row-two{
        margin-bottom: 5px;
      }
      .keypad-row-three{
        margin-bottom: 5px;
      }
    }
    .redwest-btn-one{
      margin-right: 2.5px;
      width: 100%;
    }
    .redwest-btn-two{
      margin-left: 2.5px;
      margin-right: 2.5px;
      width: 100%;
    }
    .redwest-btn-three{
      margin-left: 2.5px;
      width: 100%;
    }
    .btn-call-container{
      margin-top: 30px;
      padding-right: 19px;
    }
    .redwest-keypad-container{
      width: 100%;
      padding: 0px 10px
    }
  }
}
