#map-pagetwo-screen {
  .image {
    .Mappagetwo {
      background-image: url("https://images.stinkyfruit.com/maptwo.svg");
      background-position: center;
      background-repeat: no-repeat;
      height: 636.5px;
      width: 100%;
      margin-top: -124px;
      background-blend-mode: darken;
      background-size: 383px;
      background-size: cover;
    }
    .image-popup {
      background-image: url("https://images.stinkyfruit.com/MapPopup.svg");
      background-position: center;
      background-repeat: no-repeat;
      height: 190px;
      width: 100%;
      background-size: contain;
      margin-top: 55%;
    }
  }
  .zoomout {
    background-image: url("https://images.stinkyfruit.com/ZoomIn.svg");
    background-repeat: no-repeat;
    height: 65px;
    width: 38px;
    margin-left: 10px;
  }
  @media (max-width: 575.98px) {
    .image {
      .Mappagetwo {
        background-size: cover;
        height: 63vh !important;
        margin-top: -72px !important;
      }
    }
  }
}
