#pda-boot-screen {
  // margin-block: 50%;

  .pda-boot-container{
    height: 636.5px;
    width: 100%;
  }
  .info-popup-container {
    width: 100%;
    height: 100%;

  }
  .centered {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    padding-right: 35px;
    .Popup-Title {
      background-image: url("https://images.stinkyfruit.com/Text_pop.svg");
      background-repeat: no-repeat;
      height: 52px;
      width: 247px;
      background-size: 206px;
      background-position: center;
    }
    .popup-text {
      font-family: "Palm OS";
      font-size: 32px;
      line-height: 18px;
     
    }
    .instruction-text {
      font-family: "Palm OS";
      font-size: 26px;
      line-height: 23px;
    }
    .next-button{
      background-image: url("https://images.stinkyfruit.com/Button_Next.svg");
      height: 36px;
      width: 86px;
    }
  }
  .image-popup {
    background-image: url("https://images.stinkyfruit.com/Popup_Container.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 317.95px;
    width: 295.07px;
    background-size: contain;
  }
  @media (max-width: 575.98px) {
    .pda-boot-container{
      height: 70vh;
    }
  }
}
