#pda-boot-screen {
  // margin-block: 50%;

  .pda-boot-container{
    height: 636.5px;
    width: 100%;
  }
  .info-popup-container {
    width: 100%;
    height: 100%;

  }
  .centered {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    .Popup-Title {
      //background-image: url("https://images.stinkyfruit.com/Text_pop.svg");
      background-image: url("https://images.stinkyfruit.com/welcome_to_y2knotok.svg");
      background-repeat: no-repeat;
      height: 53px;
      width: 160px;
      background-position: center;
      background-size: cover;
    }
    .popup-text {
      font-family: "Palm OS";
      font-size: 32px;
      line-height: 18px;
     
    }
    .instruction-text {
      font-family: "Palm OS";
      font-size: 26px;
      line-height: 23px;
    }
    .next-button{
      background-image: url("https://images.stinkyfruit.com/btn_accept_bg.svg");
      height: 37px;
      width: 87px;
      font-size: 24px;
      line-height: 19px;
      font-family: "Palm OS";
    }
  }
  .image-popup {
    //background-image: url("https://images.stinkyfruit.com/Popup_Container.svg");
    background-image: url("https://images.stinkyfruit.com/popup_container_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 343px;
    width: 296px;
    background-size: contain;
    mix-blend-mode: darken;
  }
  @media (max-width: 575.98px) {
    .pda-boot-container{
      height: 70vh;
    }
  }
}
