#pda-boot-screen {
  // margin-block: 50%;

  .pda-boot-container {
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.stinkyfruit.com/eula-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .info-popup-container {
    width: 100%;
    height: 100%;
    .image-popup{
      width: 797.48px;
      height: 100%;
    }
  }
  .centered {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    .Popup-Title {
      //background-image: url("https://images.stinkyfruit.com/Text_pop.svg");
      background-image: url("https://images.stinkyfruit.com/welcome.png");
      background-repeat: no-repeat;
      height: 143px;
      width: 434px;
      background-position: center;
      background-size: contain;
    }
    .popup-text {
      font-size: 51px;
      line-height: 55px;
      letter-spacing: 2px;
      color: #10df0c;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: 'eurostyle', sans-serif;
    }
    .instruction-text {
      font-family: 'eurostyle', sans-serif;
      font-size: 32px;
      line-height: 34px;
      color: #10df0c;
      margin-bottom: 30px;
      width: 500px;
    }
    .next-button {
      background-image: url("https://images.stinkyfruit.com/desktop-green-box.png");
      height: 60.86px;
      width: 143.65px;
      font-size: 35px;
      line-height: 38px;
      font-family: 'eurostyle', sans-serif;
      color: #10df0c;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  @media (max-width: 575.98px) and (orientation: portrait) {
    .pda-boot-container {
      height: 100vh;
      width: 100vw;
      background-color: black;
      .Popup-Title{
        height: 75px;
        width: 228.29px;
      }
      .popup-text{
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 2px;
      }
      .instruction-text{
        font-size: 24px;
        line-height: 26px;
        width: 100%;
        margin-bottom: 15px;
      }
      .next-button{
        height: 60.86px;
        width: 100px;
        font-size: 23px;
      }
    }
  }
  @media (max-width: 991.98px) and (orientation: landscape){
    .pda-boot-container {
      height: 100vh;
      width: 100vw;
      background-color: black;
      .Popup-Title{
        height: 75px;
        width: 228.29px;
      }
      .popup-text{
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 2px;
      }
      .instruction-text{
        font-size: 24px;
        line-height: 26px;
      }
      .next-button{
        height: 60.86px;
        width: 100px;
        font-size: 23px;
      }
    }
  }
}